@font-face {
    font-family: 'Ithra Light';
    src: url('../assets/fonts/Ithra-Light.ttf');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: 'Ithra Bold';
    src: url('../assets/fonts/Ithra-Bold.ttf');
    font-weight: 400;
    font-style: normal;
  }
  *{
    font-family: "Ithra Bold";
  }