

<ion-header>
  <ion-toolbar>
   
   <ion-row>
     <ion-col size="10" style="display:flex;align-items: center;justify-content: center;text-align: center;">
     <h1> اضافة جولة </h1> </ion-col>
     <ion-col size="2" style="padding-top:10px;">
    <ion-button fill="outline" float-right (click)="closeModal()"> 
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content >

    <ion-grid >
    <ion-radio-group (ionChange)="teamValue($event)" style="vertical-align: middle;justify-content: center;display: flex;align-items: center;"> 
    
  <ion-row>

    <ion-col>
              <ion-item lines="none">
                 <ion-label style="padding-right:5px;" >لهـم</ion-label>
                 <ion-radio id="lahom"  name="winner" value="lahom" ></ion-radio>
             </ion-item>
    </ion-col>
   
     <ion-col>
              <ion-item lines="none">
                <ion-label style="padding-right:5px;">لنـا</ion-label>
            <ion-radio id="lana" name="winner" value="lana"> </ion-radio>
             </ion-item>
    </ion-col>
    <ion-col style="justify-content: center;display: flex;align-items: center;">
  <ion-icon color="primary" style="font-size: 32px;" name="trophy"></ion-icon>
    </ion-col>
  </ion-row>
   
    </ion-radio-group>
     
</ion-grid>


  <ion-grid>
    <ion-radio-group (ionChange)="winnerValue($event)"> 
    
  <ion-row align-items-center>
  <ion-col>
  
    
            <ion-item lines="none">
                  <ion-label >خلوص صافي</ion-label>
                  <ion-radio  value="khlosSafi"></ion-radio>
      </ion-item>
  </ion-col>
  </ion-row>
  
  <ion-row>
  <ion-col > 
              <ion-item lines="none">
               <ion-label >دبل صافي</ion-label>
                  <ion-radio  value="dabalSafi"></ion-radio>
              </ion-item>
 </ion-col>
 </ion-row>

 <ion-row>
  <ion-col > 
  
             <ion-item lines="none">
                  <ion-label  >خلوص</ion-label>
                  <ion-radio  value="khlos"></ion-radio>
             </ion-item>
</ion-col>
</ion-row>
<ion-row>
  <ion-col> 
  
             <ion-item lines="none">
                    <ion-label >دبـل</ion-label>
                <ion-radio   value="dabal" ></ion-radio>
             </ion-item>
 </ion-col>
 </ion-row>

 <ion-row>
 <ion-col>
             <ion-item lines="none">
             <ion-label>تسجيلة - خلوص</ion-label>
             <ion-radio  value="tasjilahKhlos" ></ion-radio>
             </ion-item>
  </ion-col>
 </ion-row>
    
 <ion-row>
  <ion-col>
              <ion-item lines="none">
              <ion-label >تسجيلة - دبل</ion-label>
              <ion-radio   value="tasjilahDabal" ></ion-radio>
              </ion-item>
   </ion-col>
  </ion-row>
    </ion-radio-group>
     
</ion-grid>
      
<ion-grid>
   
    
  <ion-row align-items-center>
      <ion-col>
        <ion-item>
          <ion-label text-right> عدد النازلين </ion-label>
        </ion-item>
         <ion-segment (ionChange)="nazilValue($event)">
          <ion-segment-button value="3">
            <ion-label>3</ion-label>
          </ion-segment-button>
          <ion-segment-button value="2">
             <ion-label>2</ion-label>
            </ion-segment-button>
          <ion-segment-button value="1">
             <ion-label>1</ion-label>
              </ion-segment-button>
          </ion-segment>
      </ion-col>
    </ion-row>
  <ion-row>
  <ion-col> 
  <ion-item>
  <ion-label text-right position="floating">المجموع</ion-label>
  <ion-input text-right color="primary" type="number"  value="" (ionInput)="majmoValue($event)"></ion-input>
</ion-item>
</ion-col>
</ion-row>    
</ion-grid>

</ion-content>
<ion-footer>

 <ion-button (click)="onSubmit()"> اضافة </ion-button>

</ion-footer>
