
.jawlhcard {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 95%; 
    vertical-align: center;
   
}
.card {
    align-items: right;
    justify-content: right;
    text-align: right;
   
}
.larger {
    font-size: 20px;
   
}


.myCard {
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    width: 85%;
    height: 50px;
    vertical-align: center !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}   