
.jawlhcard {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 95%; 
    vertical-align: center;
   
}
.card {
    align-items: right;
    justify-content: right;
    text-align: right;
   
}
.larger {
    font-size: 20px;
   
}