<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="jawlhcard">
      حاسبة الهاند
    </ion-title>
  </ion-toolbar>
  <ion-item color="Primary" lines="none" class="jawlhcard">
    <ion-label>
      <h1>لهم</h1>
    </ion-label>
    <ion-label color="primary">
      <h1>لنا</h1>
    </ion-label>
  </ion-item>
 
  <ion-item color="Primary" lines="none" class="jawlhcard">
      <ion-label color="danger">
          <h2>{{ farq }}</h2>
        </ion-label>
     </ion-item>
  
     <ion-item color="Primary" lines="none" class="jawlhcard">
        <ion-label color="medium">
          
          </ion-label>
       </ion-item>
    

  <ion-item color="Primary" lines="none" class="jawlhcard">
    <ion-label>
      <h3>الجولة الحالية </h3>
      <h1> {{ currentJawlah }} </h1>
      </ion-label>
   
   
  </ion-item>
</ion-header>


<ion-content padding >
   
    <ion-content>
      
        <ion-card class="jawlhcard"  *ngFor="let jawlat of jawService.jawlats">
          
          <ion-card-header color="primary">
          
            <ion-card-title >الجولة : {{ jawlat.values.jawlahNo }}</ion-card-title>
           
        </ion-card-header>
          <ion-item class="jawlhcard">
         
            <ion-label>لهم</ion-label>
            <ion-label>لنا</ion-label>
          </ion-item>
      
          <ion-item lines=none class="jawlhcard">
            <ion-label>{{jawlat.values.lahomVal}}</ion-label>
            <ion-label>{{jawlat.values.lanaVal}}</ion-label>
          </ion-item>
          
        </ion-card>
      </ion-content>
      
      
  </ion-content>

  <ion-footer class="jawlhcard">
      <ion-button (click)="clearmystorage()" fill="outline" style="width: 45%;height:50px;"> لعبة جديدة 
      <ion-icon name="refresh" style="padding-left:7px;">  </ion-icon>
      </ion-button>
    

      <ion-button (click)="openModal()" color="primary" style="width: 45%; height:50px;">
          اضافة جولة
        <ion-icon name="add" style="padding-left:7px;"></ion-icon>    
                 </ion-button>
    
  </ion-footer>
  
